* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {

    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    overflow-x: hidden;
    font-family: 'Saira Condensed',
    sans-serif;


    max-width: 1920px;
    margin: 0 auto;

}

.img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pizza-glowna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;
    top: 0;
    left: 0;


}

nav {

    text-align: center;
    font-size: 80px;
    margin-top: 10%;
}

header hgroup {
    z-index: 1;
    text-align: left;
    color: white;
    position: absolute;
    top: 8%;
    left: 40%;
    text-transform: uppercase;
    font-size: 90px;
}

header button {
    font-family: 'Saira', sans-serif;
    z-index: 1;
    position: relative;
    top: 70%;
    margin-left: 49%;
    line-height: 30px;
    padding: 0 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 32px;
    border: 2px solid grey;
    display: block;


}

.button1{
    margin-left: 55%;
}

header a {
    text-decoration: none;
    color: white;

}

header h1 {
    font-size: 9rem;
}

header h2 {
    margin-top: 5%;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
}
/*Hamburgerek*/


.burger {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    line-height: 50px;
    transition: .3s linear;
    z-index: 2;
}

.burger:hover {
    cursor: pointer;
}

aside {

    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: gray;
    transition: .3s linear;
    z-index: 2;
}

.fas {
    display: none;
    color: gray;
}

i.show {
    display: block;
}

aside.show {
    left: 0;


}

.active ul {
    position: absolute;
    display: flex;
    height: calc(100% - 20px);
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    align-content: flex-start;
}

.active ul li {
    height: 30px;
    background: #ffffff;
    flex-basis: 100%;
    margin-top: 20px;
    color: black;
    border-radius: 5px;
    overflow: hidden;

}

.active ul li a {
    display: flex;
    font-size: 20px;

    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

.active ul li a:hover {
    color: red;
    cursor: pointer;
    background-color: aqua;
}




/* Sekcja oferta*/

.features {
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;

}

.features h1 {
    font-family: 'Saira Condensed',
    sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.features h2 {
    font-family: 'Saira Condensed',
    sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.features p {
    font-family: 'Saira',
    sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 20px 0;
}

.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

@media (min-width:360px) {
    .features h1 {
        font-size: 28px;
    }

    .features h2 {
        font-size: 24px;
    }

    .features p {
        font-size: 14px;
    }
}

@media (min-width:768px) {
    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 28px;
    }

    .features p {
        font-size: 18px;
    }
}

@media (min-width:1024px) {
    .features {
        margin-top: 50px;
        padding: 5% 2%;
        text-align: center;

    }

    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }

    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 22px;
    }

    .features p {
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }
}

@media (min-width:1600px) {


    .feature {

        padding: 20px 50px;
    }

    .features h1 {
        font-size: 60px;
    }

    .features h2 {
        font-size: 32px;
    }

    .features p {
        font-size: 21px;
        line-height: 140%;
        padding: 0 10px;
    }
}

.portfolio {
    background-color: black;
    padding: 10px 0 30px;
}

.portfolio h1 {
    font-size: 28px;
    font-family: 'Saira Condensed',
    sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    color: white;
    font-family: 'Saira',
    sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;
}

.portfolio .about h2 {
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}

.portfolio .about p {
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .project {
    max-width: 1400px;
    margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
    background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even) {
    background-color: #29a6dc;
}

@media (min-width:768px) {

    .portfolio h1 {
        font-size: 40px;
    }

    .portfolio .about h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }

}

@media (orientation: landscape) {

    .web,
    .about {
        width: 50%;
        float: left;
    }

    .web img {
        display: block;
    }

    .portfolio .project:nth-of-type(even) .web {
        float: right;

    }

    .portfolio .project:nth-of-type(even) .about {
        padding-right: 0;
    }

    .portfolio .project:nth-of-type(even) .about p {
        padding-right: 20px;
    }

    .portfolio .project:nth-of-type(even) .about h2 {
        text-indent: 0;
        margin-left: 40px;
    }


}


@media (orientation: landscape) and (min-width: 1400px) {
    .portfolio h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .portfolio .about h2 {
        padding-top: 50px;
        font-size: 28px;
        text-indent: 40px;
        margin-bottom: 50px;
    }

    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }
}

/*Sekcja galeria*/
.galeria {
    max-width: 1920px;
    margin: 0 auto;
}

.galeria .item {
    height: 30vh;
}

.galeria .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.galeria .item:nth-of-type(1) {
    background-image: url(../img/pizzeria1.jpg);
}

.galeria .item:nth-of-type(2) {
    background-image: url(../img/pizzeria2.jpg);
}

.galeria .item:nth-of-type(3) {
    background-image: url(../img/pizzeria3.jpg);
}

.galeria .item:nth-of-type(4) {
    background-image: url(../img/pizzeria4.jpg);
}

.galeria .item p {
    font-family: 'Saira',
    sans-serif;
    color: white;
    text-align: center;
    /*line-height: 25vh;*/
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 5px 0;
}

.galeria h1 {
    font-family: 'Saira condensed',
    sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
}

@media (min-width:533px) {
    .galeria .item {
        float: left;
        width: 50%;
        height: 40vh;
        background-size: 100%;
    }
}

@media (min-width:768px) {
    .galeria h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;

    }

    .galeria .item p {
        font-size: 30px;
        padding: 15px 0;
    }

    .galeria .item {
        background-size: 100%;
    }
}

@media (min-width: 1024px) {
    .galeria .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .galeria .item:hover p {
        opacity: 1;
    }

    .galeria .item {
        background-size: 100%;
        transition: 1s;
    }

    .galeria .item:hover {
        background-size: 130%;
    }

}

@media (min-width:1600px) {

    .galeria h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;

    }

    .galeria .item p {
        font-size: 40px;
    }



}

/* sekcja contact */

.contact {
    background-color: #000;
    padding: 30px 20px;
}

.contact h1 {
    font-family: 'Saira Condensed',
    sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact iframe {
    width: 100%;
    margin-bottom: 25px;
    font-size: 12px;
    padding: 5px;
}

.contact button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {

    padding: 10px 0;
    color: white;
    font-family: saira condensed, sans-serif;
}

.contact .social img {
    float: left;

}

.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
    margin-right: -101px;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .contact h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .contact iframe,
    .contact button,
    .contact textarea {
        margin-bottom: 35px;

    }


    .contact button {
        font-size: 20px;
        line-height: 50px;
        transition: .3s;
        cursor: pointer;

    }

    .contact button:hover {
        color: black;
        background-color: #fff;
    }
}


footer {
    background-color: aqua;
    color: white;
    font-family: saira, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}